<ion-content [fullscreen]="true">
    <ion-list>
        <ion-item>
            <ion-img id="logo-img" part="image" [src]="image"></ion-img>
        </ion-item>
    </ion-list>
    <app-navbar></app-navbar>
    <div class="ion-padding">
        <!-- Each chart is drawn on a canvas object -->
        <ion-card>
            <ion-card-content>
                <canvas #chlorineCanvas style="position: relative; height:20vh; width:40vw"></canvas>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-content>
                <canvas #phCanvas style="position: relative; height:20vh; width:40vw"></canvas>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-content>
                <canvas #alkalinityCanvas style="position: relative; height:20vh; width:40vw"></canvas>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-content>
                <canvas #calciumCanvas style="position: relative; height:20vh; width:40vw"></canvas>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-content>
                <canvas #cyaCanvas style="position: relative; height:20vh; width:40vw"></canvas>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>