#logo-img::part(image) {
    margin-top: 1vh;
    margin-bottom: 1vh;
    max-height: 10vh;
}

#readings-form {
    display: flex;
    flex-flow: column nowrap;
    
}

/* 
============================================================================
Desktop Styling
============================================================================
*/

@media (min-width: 1025px) {
    #logo-img::part(image) {
        width: 100vw;
    }

    ion-datetime {
        display: none;
    }
}

/* 
============================================================================
Mobile Styling
============================================================================
*/
@media (max-width: 1024px) {
    #desktop-datepicker {
        display: none;
    }
}