<ion-content [fullscreen]="true">
    <div class="ion-padding">
        <ion-list>
            <ion-item>
                <ion-img id="logo-img" part="image" [src]="image"></ion-img>
            </ion-item>
        </ion-list>
        <app-navbar></app-navbar>
        <div id="account-header">
            <h1>My Account</h1>
            <p>Update your account-specific details below:</p>

        </div>
        <form #form="ngForm" (ngSubmit)="submitForm(form)">
            <ion-list id="account-form" class="ion-justify-content-end">
                <ion-item>
                    <ion-label position="fixed">Name</ion-label>
                    <ion-input class="ion-text-right" name="name" ngModel value="{{ user?.name }}" type="string">
                    </ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>Email Address</ion-label>
                    <ion-input class="ion-text-right" name="email" ngModel value="{{ user?.email }}" type="string">
                    </ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>User Name</ion-label>
                    <ion-input class="ion-text-right" name="user_name" ngModel value="{{ user?.user_name }}" type="string"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>Password</ion-label>
                    <ion-input class="ion-text-right" name="password" ngModel type="password"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>Re-Type Password</ion-label>
                    <ion-input class="ion-text-right" type="password"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>Pool Volume</ion-label>
                    <ion-input class="ion-text-right" name="pool_gallons" ngModel value="{{ user?.pool_gallons }}" type="number"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>Pool Type</ion-label>
                    <ion-select class="ion-text-right" name="pool_type" ngModel value="{{ user?.pool_type }}" type="string">
                        <ion-select-option value="Fiberglass">Fiberglass</ion-select-option>
                        <ion-select-option value="Concrete">Concrete</ion-select-option>
                        <ion-select-option value="Vinyl">Vinyl</ion-select-option>

                    </ion-select>
                </ion-item>
                <ion-item>
                    <ion-label>Target Chlorine</ion-label>
                    <ion-input class="ion-text-right" name="target_chlorine" ngModel value="{{ user?.target_chlorine }}" type="number"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>Target pH</ion-label>
                    <ion-input class="ion-text-right" name="target_ph" ngModel value="{{ user?.target_ph }}" type="number"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>Target Alkalinity</ion-label>
                    <ion-input class="ion-text-right" name="target_alkalinity" ngModel value="{{ user?.target_alkalinity }}" type="number"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>Target Calcium</ion-label>
                    <ion-input class="ion-text-right" name="target_calcium" ngModel value="{{ user?.target_calcium }}" type="number"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>Target Cyanuric Acid</ion-label>
                    <ion-input class="ion-text-right" name="target_cyanuric_acid" ngModel value="{{ user?.target_cyanuric_acid }}" type="number"></ion-input>
                </ion-item>
                
                <ion-item>
                    <ion-label>Chlorine Source</ion-label>
                    <ion-select class="ion-text-right" name="chlorine" ngModel value="{{ user?.chemicals[0].chlorine }}" placeholder="{{ user?.chemicals[0].chlorine}}" type="string">
                        <ng-container *ngFor="let chemical of chemicalList">
                            <ion-select-option *ngIf="chemical.effects.includes('chlorine_up')">{{chemical.name}}</ion-select-option>
                        </ng-container>
                    </ion-select>
                </ion-item>
                <ion-item>
                    <ion-label>pH Up</ion-label>
                    <ion-select class="ion-text-right" name="ph_up" ngModel value="{{ user?.chemicals[0].ph_up }}" placeholder="{{ user?.chemicals[0].ph_up}}" type="string">
                        <ng-container *ngFor="let chemical of chemicalList">
                            <ion-select-option *ngIf="chemical.effects.includes('ph_up')">{{chemical.name}}</ion-select-option>
                        </ng-container>
                    </ion-select>
                </ion-item>
                <ion-item>
                    <ion-label>ph Down</ion-label>
                    <ion-select class="ion-text-right" name="ph_down" ngModel value="{{ user?.chemicals[0].ph_down }}" placeholder="{{ user?.chemicals[0].ph_down}}" type="string">
                        <ng-container *ngFor="let chemical of chemicalList">
                            <ion-select-option *ngIf="chemical.effects.includes('ph_down')">{{chemical.name}}</ion-select-option>
                        </ng-container>
                    </ion-select>
                </ion-item>
                <ion-item>
                    <ion-label>Alkalinity Up</ion-label>
                    <ion-select class="ion-text-right" name="alkalinity_up" ngModel value="{{ user?.chemicals[0].alkalinity_up }}" placeholder="{{ user?.chemicals[0].alkalinity_up}}" type="string">
                        <ng-container *ngFor="let chemical of chemicalList">
                            <ion-select-option *ngIf="chemical.effects.includes('alkalinity_up')">{{chemical.name}}</ion-select-option>
                        </ng-container>
                    </ion-select>
                </ion-item>
                <ion-item>
                    <ion-label>Alkalinity Down</ion-label>
                    <ion-select class="ion-text-right" name="alkalinity_down" ngModel value="{{ user?.chemicals[0].alkalinity_down }}" placeholder="{{ user?.chemicals[0].alkalinity_down}}" type="string">
                        <ng-container *ngFor="let chemical of chemicalList">
                            <ion-select-option *ngIf="chemical.effects.includes('alkalinity_down')">{{chemical.name}}</ion-select-option>
                        </ng-container>
                    </ion-select>
                </ion-item>
                <ion-item>
                    <ion-label>Calcium Up</ion-label>
                    <ion-select class="ion-text-right" name="calcium_up" ngModel value="{{ user?.chemicals[0].calcium_up }}" placeholder="{{ user?.chemicals[0].calcium_up}}" type="string">
                        <ng-container *ngFor="let chemical of chemicalList">
                            <ion-select-option *ngIf="chemical.effects.includes('calcium_up')">{{chemical.name}}</ion-select-option>
                        </ng-container>
                    </ion-select>
                </ion-item>
                <ion-item>
                    <ion-label>Calcium Down</ion-label>
                    <ion-select class="ion-text-right" name="calcium_down" ngModel value="{{ user?.chemicals[0].calcium_down }}" placeholder="{{ user?.chemicals[0].calcium_down}}" type="string">
                        <ion-select-option value="Muriatic Acid">Muriatic Acid</ion-select-option>
                    </ion-select>
                </ion-item>
                <ion-button size="medium" type="submit" [disabled]="form.invalid" expand="block">Save</ion-button>
            </ion-list>
        </form>
    </div>

</ion-content>